
body {
  background: #141414;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.625;
  color: #ffffff;
  font-weight: 400;
}

.brand {
  font-weight: 400;
  font-size: 1.2em;
}

.nav-listings li {
  font-weight: bold;
}

.container {
  margin: 0 auto;
}


.header {
  height: 600px;
  background-image: url(https://images.pexels.com/photos/1265610/pexels-photo-1265610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.page-container {
  margin-top: 120px;
}

.cta-h1 {
  font-size: 20px;
  font-weight: 300;
}

.cta-h2 {
  font-size: 40px;
}

.cta-popular-categories {
  padding: 0;
}
.cta-popular-categories a {
  color: #FFF;
  font-size: 300;
}

.cta-popular-categories ul {
  list-style-type: none;
  float: left;
}

.popular-cats {
  font-weight: bold;
}

p.flex {
    font-size: 15px;
    padding: 0;
    margin-left: -40px;
}

.top-picks h1{
  font-size: 2.61792em;
  margin-bottom: 0.47748em;
  -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
    font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
    -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig';
    font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    margin-bottom: 0.71794em;
    color: #ffffff;
    font-size: 1.7411em;
    line-height: 1.222;
    font-weight: 600;
    font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.top-picks h3 {
    line-height: 1.6;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

main {
  color: #FFF;
}


.photo-detail {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 12px 0px;
}

.left {
  width: 70%;
}

.user-details {
  width: 25%;
  float: left;
}

.image-collage img {
  display: block;
  height: auto;
  width: contain;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,30,.3);
  cursor: pointer;
  background: linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
  background-position: 0 0,10px 10px;
  background-color: #fff;
  background-size: 21px 21px;
}

.author-dp {
  height: 40px;
  width: 40px;
}

.related-images  {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

